= form_for @soap, html: {class: 'form'} do |f|
  .row
    .col-md-12
      - if @soap.errors.any?
        .error-explanation
          %h2 Couldn't save soap (#{ pluralize @soap.errors.count, "error" })
          %ul
            - @soap.errors.full_messages.each do |msg|
              %li
                = msg
  .row
    .col-md-12
      .form-group
        = f.label :name, class: 'control-label'
        = f.text_field :name, class: 'form-control'

      .form-group
        = f.label :description, class: 'control-label'
        = f.text_area :description, class: 'form-control'

      .form-group
        = f.label :brand
        = f.collection_select :brand_id, @brands, :id, :name, {}, {class: 'form-control'}

  .row
    .col-md-6
      = f.submit class: 'btn btn-primary'

    - if not @soap.new_record?
      .col-md-6
        = link_to 'Delete', soap_path(@soap), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger pull-right'
