!!! 5
%html
  %head
    %title Shaving
    = stylesheet_link_tag    'shaving/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'shaving/application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    = javascript_pluggable_tag

  %body.shaving
    -if flash[:notice]
      .container
        .alert.alert-info
          = flash[:notice]

    -if flash[:warning]
      .container
        .alert.alert-warning
          = flash[:warning]

    -if flash[:error]
      .container
        .alert.alert-danger
          = flash[:error]

    .container-fluid
      .row
        .col-md-6.col-md-offset-3.content
          = yield
