!!! 5
%html
  %head
    %title Shaving

    -#%link{ rel: "stylesheet", href: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" }
    -#%script{ src: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" }

    = stylesheet_link_tag    'shaving/application', params[:controller], media: 'all'
    = javascript_include_tag 'shaving/application', params[:controller]
    = csrf_meta_tags

  %body
    .content
      %nav
        -if logged_in?
          Welcome, #{ current_user }

      %header
        %h3 Ashby's
        %h1 #{ link_to "Catalog of Shaving Supplies!", shaving.root_path }
        %h5 #{ link_to "JoshIsA.Ninja", main_app.root_path }

      %section.flashes
        -if flash[:notice]
          .alert.alert-info
            = flash[:notice]

        -if flash[:warning]
          .alert.alert-warning
            = flash[:warning]

        -if flash[:error]
          .alert.alert-danger
            = flash[:error]

      %section.main
        = yield
