.row
  .col-md-12
    %h1 #{ @brand.name }

.row
  .col-md-12
    %small.text-muted
      %strong Last Updated:
      = updated_at(@brand)

%hr

- if current_user
  .row
    .col-md-12
      = link_to 'Edit', shaving.edit_brand_path(@brand), class: 'btn btn-default'

.row
  .col-md-12
    %h3 Products
    - if @brand.products.any? and current_user
      = link_to 'New Product', shaving.new_product_path(:brand => @brand), class: 'btn btn-default'

    - unless @brand.products.any?
      .jumbotron
        %p There are no products for this brand yet.
        - if current_user
          %Want to make one?
          = link_to 'New Product', shaving.new_product_path(:brand => @brand), class: 'btn btn-default'

- if @brand.products.any?
  - Shaving::Type.all.order(:name).each do |type|
    .row
      .col-md-12
        - products = @brand.products.where(:type => type).order(:name)
        -if products.any?
          %h4 #{ type.name.pluralize }
          %ul
            - products.each do |product|
              %li
                = link_to product.name, product
