.site-wrapper
  .site-wrapper-inner
    .cover-container

      .masthead.clearfix
        .inner
          -#%h3.masthead-brand Riverside
          %ul.nav.masthead-nav
            %li.active
              = link_to "Home", main_app.root_path
            %li
              = link_to "Shaving", shaving.root_path
            %li
              = link_to "About", main_app.about_path

      -if flash[:notice]
        .alert.alert-info
          = flash[:notice]

      -if flash[:warning]
        .alert.alert-warning
          = flash[:warning]

      -if flash[:error]
        .alert.alert-danger
          = flash[:error]

      .inner.cover
        %h1.cover-heading Riverside
        %p.lead A nice calming place.

      .mastfoot
        .inner
          %p Project by #{ link_to "JoshAshby", "https://github.com/JoshAshby" }
          %p Based on the cover template for #{ link_to "Bootstrap", "http://getbootstrap.com" }, by #{ link_to "@mdo", "https://twitter.com/mdo" }.
