.row
  .col-md-12
    %h1 #{ @product.name }

.row
  .col-md-12
    %strong Brand:
    = link_to @product.brand.name, @product.brand

.row
  .col-md-12
    %strong Type:
    = @product.type.name

.row
  .col-md-12
    %small.text-muted
      %strong Last Updated:
      = updated_at(@product)

%hr

.row
  .col-md-12
    %p
      = @product.description

  - if current_user
    .row
      .col-md-12
        = link_to 'Edit', shaving.edit_product_path(@product), class: 'btn btn-default'

- if @product.reviews.any?
  .row
    .col-md-12
      %h2 Graphs

  .row
    .col-md-12
      .chart.rickshaw
        #ratings-yaxis{ style: 'position: absolute; top: 0; bottom: 0; width: 40px;' }
        #ratings-chart{ style: 'position: relative; left: 40px;' }
        #ratings-legend{ style: 'margin-top: 10px; float: right;' }

  .row
    .col-md-12
      .chart#nvd3-chart
        %svg{ height: 250 }

  .row
    .col-md-12
      %h3 Reviews
      - if current_user
        = link_to 'New Review', shaving.new_review_path(:product => @product), class: 'btn btn-default'

      - @product.reviews.order(:overall_rating).each_with_index do |review, i|
        %p
          - if review.comments.nil?
            = review.comments
          - else
            No comments for this review.

        %small.text-muted
          = updated_at(review)

        - if current_user
          .btn-toolbar
            .btn-group
              = link_to 'View', review, class: 'btn btn-default'
              = link_to 'Edit', shaving.edit_review_path(review), class: 'btn btn-primary'
            .btn-group.pull-right
              = link_to 'Delete', shaving.review_path(review), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'
        - else
          = link_to 'view', review, class: 'btn btn-default'

        - unless (@product.reviews.length - i) == 1
          %hr

- else
  .row
    .col-md-12
      .jumbotron
        %p This product doesn't have any reviews yet.
        - if current_user
          %pWant to make one?
          = link_to 'New Review', shaving.new_review_path(:product => @product), class: 'btn btn-default'
