.row
  .col-md-12
    %h1 Review
    %h3 #{ link_to @review.product.name, shaving_product_path(@review.product) }

.row
  .col-md-12
    %strong Brand:
    = link_to @review.product.brand.name, @review.product.brand

.row
  .col-md-12
    %strong Type:
    = @review.product.type.name

.row
  .col-md-12
    %strong Last Updated:
    = updated_at(@review)


%hr

.row
  .col-md-12
    %strong Overall Rating:
    = @review.overall_rating

.row
  .col-md-12
    %p Comments:
    %p{ :style => 'text-indent: 25px;' }
      = @review.comments

.row
  .col-md-12
    %strong Shaving Feel:
    = @review.shaving_feel

.row
  .col-md-12
    %strong Face Feel:
    = @review.shaving_feel

.row
  .col-md-12
    = link_to 'Edit', edit_shaving_review_path(@review), class: 'btn btn-default'
