.row
  .col-md-4.col-md-offset-4
    %h3 About Riverside

    %p
      Riverside is a quick little Ruby on Rails project that I've thrown
      together to learn more about the Ruby on Rails framework. It's powered by
      #{ link_to "Heroku", "https://heroku.com" }, uses #{ link_to "Bootstrap", "http://getbootstrap.com" }
      for the main styling, background patterns from #{ link_to "Subtle Patterns", "http://subtlepatterns.com/" }
      and fonts from #{ link_to "DaFont", "http://www.dafont.com/" }.

    %p
      The background photo for the landing page is my own, and can be found #{ link_to "here", "https://www.flickr.com/photos/joshashby/5069501296/in/set-72157625130152356" }.
