.row
  .col-md-12
    %h1 #{ @brand.name }

.row
  .col-md-12
    = link_to 'Edit', edit_brand_path(@brand), class: 'btn btn-default'

.row
  .col-md-6
    %h3 Blades
    -if @brand.blades.any?
      - @brand.blades.each do |blade|
        %li
          = link_to blade.name, blade
    - else
      .jumbotron
        %p There are no blades for this brand yet. Want to make one?
        = link_to 'New Blade', new_blade_path(:brand_id => @brand.id), class: 'btn btn-default'

  .col-md-6
    %h3 Soaps
    - if @brand.soaps.any?
      - @brand.soaps.each do |soap|
        %li
          = link_to soap.name, soap
    - else
      .jumbotron
        %p There are no soaps for this brand yet. Want to make one?
        = link_to 'New Soap', new_soap_path(:brand_id => @brand.id), class: 'btn btn-default'
