!!! 5
%html
  %head
    %title Riverside

    = stylesheet_link_tag    'application', params[:controller], media: 'all'
    = javascript_include_tag 'application', params[:controller]
    = csrf_meta_tags

  %body
    -if flash[:notice]
      .container
        .alert.alert-info
          = flash[:notice]

    -if flash[:warning]
      .container
        .alert.alert-warning
          = flash[:warning]

    -if flash[:error]
      .container
        .alert.alert-danger
          = flash[:error]

    .container-fluid
      .row
        .col-md-12
          = yield
